.list {
    list-style: none;
}
.link {
    text-decoration:none
}

.logo {
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #2196F3;

}
.logo-web {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
color: #212121;
}
.nav-list-link {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121
}
.nav-list-link:hover,
.nav-list-link:focus {
color:#2196F3;
}
.contact-mail {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.contact-number {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.contact-mail:hover,
.contact-mail:focus {
color: #2196F3;  
} 
.contact-number:hover,
.contact-number:focus {
color:#2196F3;  
}

.hero {
background: #2F303A;
}
.modal-btn {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor:pointer;
background-color:#2196F3;
color: #FFFFFF;
}

.modal-btn:focus {
color: #2196F3;  
}
.main-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}  
.main-description {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.description {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
.activity {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.name list {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.job list {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.footer {
background: #2F303A;
}
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    
    }
    .logo-w {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
.address {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
}
.mail {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.phone {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.phone:focus {
color: #2196F3;
}
.mail:hover {
color: #2196F3;
}
.phone:hover {
color: #2196F3;
}

//second page//
.button {
cursor:pointer;
}
.portfolio-list {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
/* identical to box height, or 162% */

letter-spacing: 0.03em;
cursor:pointer;

border-radius: 4px;
}
.portfolio-list:hover
.portfolio-list:focus {
color: #FFFFFF;
background-color: #2196F3
}
.nomenclature {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: #212121;
}
.nomenclature descr {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 187% */
letter-spacing: 0.03em;
color: #757575;
}